.App {
  text-align: center;
}

.App-header {
  font-size: 1.5em;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.1;
  font-weight: 300;
  background-color: #00bcd4;
  color:#fff;
  padding: 20px 0 10px;
}

.App-header h2{
  margin: 0px 0 10px;
}

.App-intro {
  font-size: 21px;
  line-height: 1.4;
  margin-bottom: 20px;
  margin: 10px 0 10px;
}