.ResultsList-header p{
    margin: 0;
    padding: 2em 0;
    color: rgba(40, 44, 42, 0.75);
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1;
    text-align: center;
}

.ResultsList-item-title {
    margin: 0;
    padding: 0.75em 0;
    color: #2980b9;
    font-weight: 500;
    font-size: 1.3em;
    line-height: 1;    
}

.ResultList-button{
    background: rgba(0, 0, 0, 0);
    background-color: #03a9f4;
    color: rgba(255,255,255, 0.84);
    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: rgba(255,255,255, 0.84);
    text-decoration: none;
    border: none;
    border-radius: 2px;
    position: relative;
    padding: 8px 30px;
    margin: 10px 1px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;    
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
}

.ResultList-button:hover{
    border-color: #269abc;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    color: rgba(255,255,255, 0.84);
    border-color: #269abc;
}

.ResultList-button:active, .ResultList-button:focus, {
    background-color: #0fb2fc;
}
.ResultList-button:focus{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    color: rgba(255,255,255, 0.84);
    border-color: #1b6d85;
}

.ResultsList-item {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 1em;
}

.ResultsList-item:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.ResultsList-item-description{
    font-size: 0.85em;
}

.ResultsList-price {
    position: absolute;
    top: 0.75em;
    right: 1em;
    font-weight: 400;
    font-size: 1.1em;
    color: #3498db;
}

.ResultList-button-container{
    text-align: center;
}

.ResultsList-description{
    padding:10px;
}

@media screen and (max-width: 58em) {
    .ResultsList-price {
        position:relative;
        top:0;
        right:0;
    }
}