.Tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    font-size: 1.25em;
}

.Tabs-labels {
    background-color: #fff;
    text-align: center;
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 2em;
    max-width: none;
    box-shadow: inset 0 -2px #d1d3d2;
}

.Tabs-labels li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    flex: 1;
}

.Tabs-labels li a {
    text-decoration: none;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
    padding: 0.7em 0.4em;
    box-shadow: inset 0 -2px #d1d3d2;
    color: #74777b;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1em;
    line-height: 1;
    transition: color 0.3s, box-shadow 0.3s;
    text-align: center;
    outline: none;
}

.Tabs-labels li a.active {
    border-bottom-color: #337ab7;
}

.Tabs-labels li a:hover,
.Tabs-labels li a:focus {
    box-shadow: inset 0 -2px #74777b;
}

.Tabs-labels li a.active {
    box-shadow: inset 0 -2px #2CC185;
    color: #2CC185;
}

.Tabs-content {
    position: relative;
}

@media screen and (max-width: 58em) {
    .Tabs-labels li a:before {
        margin-right: 0;
    }
    .Tabs-labels ul {
        display: block;
        box-shadow: none;
    }
    .Tabs-labels ul li {
        display: block;
        flex: none;
    }
}